html {
  font-size: 62.5%;
}

* {
  font-family: 'Poppins', sans-serif;
}

body {

  background-color: #fafafa;
  color: #4d4d4d;
  font-size: 1.6rem;
}

.container-principal {
  display: flex;
  height: 100vh;
}

.container {
  width: 50%;
}

.centralizar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.principal {
  padding: 8rem;
}

.principal-logo {
  font-size: 6rem;
}

.principal-titulo {
  font-size: 3rem;
  text-align: justify;
}

.principal-descricao {
  margin: 3rem 0;
  text-align: justify;
}

.botoes {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.botao {
  background-color: #f7931a;
  font-size: 1.6rem;
  font-weight: 700;
  width: 100%;
  height: 6rem;
  cursor: pointer;
  border: none;
  color: #ffffff;
  text-shadow: 
          -1px -1px 5px #cf7b15, 
          -1px 1px 5px #cf7b15,                    
          1px -1px 5px #cf7b15,                  
          1px 0px 5px #cf7b15;
}

.botao:hover {
  opacity: 0.87;
}

.botao:active {
  outline: none;
  border: none;
  opacity: 1;
  transition: 0s;
}

.botao:focus {
  outline:0;
  }

.direito {
  margin: 1rem;
}

.card {
  max-width: 60rem;
  overflow: hidden;
}

.card-pergunta {
  background-color: #f7931a;
  color: #fafafa;
  font-size: 2.5rem;
  font-weight: 700;
  height: 25rem;
  width: 100%;
}

.card-resposta {
  background-color: #ffffff;
  text-align: justify;
  padding: 3rem;
  min-height: 14rem;
}

.card, .botao {
  border-radius: 0.8rem;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.blur {
  filter: blur(5px);
}

.gradient {
  background: linear-gradient(300deg, #4d4d4d, #fafafa, #f7931a);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

  @media (max-width: 800px) {
  .container-principal {
    flex-direction: column;
  }
  .esquerdo, .direito {
    width: 100%;
  }
}
